@import "./index.scss";

.create-container {
    background-color: #2C352E;
    width: 25%;
    left: 0;
    right: 0;
    top: 25%;
    margin: auto;
    position: absolute;
    color: #cacaca;
}

.create-form {
    display: flex;
    flex-direction: column;
}

.create-form-header {
    border-bottom: 1px solid #3E4C41;
    text-align: center;
}

.create-form-center {
    text-align: center;
    margin-top: 10px;
}

.create-form-column {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


.create-form input[type=range] {
    width: 80%;
    margin: 0 auto;
}

.create-form label {
    margin: 0px 10px 10px 0px;
}

.create-form-submit {
    border-radius: $border-radius;
    background-color: #C0D3C3;
    width: 90%;
    margin: 20px auto;
    height: 40px;
    font-size: 1.2em;
    font-weight: 600;
    box-shadow: 0 0 2px 0px rgb(3, 3, 3);
}