@import "./slider.scss";

$primary-color: #FFFF;
$background: rgba(18, 18, 18, 0.95);
$icon-colour: #A8BD92;
$yellow-colour: #cdce89;

$box-shadow: 0px 0px 10px 0.2px black;

$surface-primary: rgba(15, 15, 15, 0.7);

$board: #303030;
$board-border: #B7B7B7;
$board-base-index: #A8BD92;
$board-number: #FFFFFF;
$board-highlight: #3F493E;
$board-secondary-highlight: #4B514C;

$light-mode-board: #0e0f0f;
$light-mode-highlight: #DDE6EE;

$control-buttons: #A8BD92;
$control-buttons-on: #b9cfa1;

$border-radius: 3px;

html {
    height: 100%;
    background-image: url("../public/carbon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background: $background; 
    height: 100%;
    padding: 20px;
    margin: 0;
}

select {
    background-color: #3E4C41;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-weight: 700;
}

h3, h3 > a {
    color: rgb(170, 168, 168);
    font-size: 2em;
    font-weight: 600;
    padding: 10px 0px;
    margin: 0px;
}
  
h3:hover, h3 > a:hover {
    color: white;
    cursor: pointer;
}

.site-title {
    align-self: center;
    color: $primary-color;
    font-size: 3em;
    margin: 0;
}

.page-container {
    display: flex;
  
    height: 90%;
    padding: 20px
  }

.logo {
    vertical-align: middle;
}

.logo-container {
    display: flex;
}

.left-container {
    flex: 1 1 20%;
    
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.center-container {
    display: flex;
    flex-direction: column;
    flex: 3 1 60%;
    height: 100%;
    border-radius: 15px;
    position: relative;
}

.right-container {
    flex: 1 1 20%;
    margin: 0px 10px;
    border-radius: 3px;
}