$primary-color: #FFFF;
$primary-background: #FFFF;

$board: #303030;
$board-border: #B7B7B7;
$board-base-index: #A8BD92;
$board-number: #FFFFFF;
$board-highlight: #3F493E;
$board-secondary-highlight: #4B514C;

$light-mode-board: #E6EFF7;
$light-mode-highlight: #DDE6EE;

$control-buttons: #A8BD92;
$control-buttons-on: #b9cfa1;

$border-radius: 3;