@import "./index.scss";

.login-form-container {
    background: #8DAA91;
    border-radius: 15px;
    width: 40%;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    margin: auto 25%;
    padding: 20px;
    align-items: center;
  }

  
  
  .login-form {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .form-input {
    padding: 10px;
    margin: 20px 0;
    border: #688D6F solid 3px;
    background-color: #729779;
    color: white;
    font-size: 1.1em;
  }
  
  .form-submit {
    width: 50%;
    padding: 10px;
    margin: 20px 0;
    color: white;
    background-color: #9761a1;
    font-size: 1.1em;
  }
  
  .form-submit:hover {
    background-color: #6a4770;
  }