* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: None;
}

hr {
  border: solid rgba(255, 255, 255, 0.3) 1px;
}

body {
  background: #121212;
  height: 100%;
  
  margin: 0;
}

select {
  background-color: #3e7748;
  border: 1px solid #2d5233;
  color: white;
}

body > * {
  margin: 0 10px;
}

body {
  background: #121212;
  height: 100%;
  
  margin: 0 10px;
}

button {
  border: none;
  border-radius: 15px;
}

input {
  border: none;
  border-radius: 15px;
}

button:hover {
  cursor: pointer;
}

.login-form-container {
  background: #8DAA91;
  border-radius: 15px;
  width: 40%;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  margin: 3% 30%;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 25% auto;
}

.form-input {
  padding: 10px;
  margin: 20px 0;
  border: #688D6F solid 3px;
  background-color: #729779;
  color: white;
  font-size: 1.1em;
}

.form-submit {
  width: 50%;
  padding: 10px;
  margin: 20px 0;
  color: white;
  background-color: #9761a1;
  font-size: 1.1em;
}

.form-submit:hover {
  background-color: #6a4770;
}

.top-container {
  padding: 20px;
}

.off {
  background-color: #457a5e;
}

.on {
  background-color: #6ca888;
}



.page-container {
  display: flex;

  height: 90%;
  padding: 20px
}

.left-container {
  flex: 1;
  
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}


.right-sub-container {
  padding: 10px;

}
.opponent-container {
  display: flex;
  color: white;
  justify-content: space-between;
  
}

.profile {
  border-radius: 50%;
  width: 30px;
  align-self: center;
  padding: 5px;
}

.user {
  display: flex;
}

.name {
  align-self: center;
}

.center-container {
  flex: 5;
  height: 100%;
  margin: 0px 10px;
  border-radius: 15px;
  position: relative;
}

.options-container {
  display: flex;

  padding: 20px;
}

.game-option {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0px 20px;
  background: #212121;
  max-width: 10%;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 2px black;
  opacity: 0.8;
  transition: ease-in-out 0.1s;
}

.game-option:hover {
  opacity: 1;
  transform: scale(1.2);
  cursor: pointer;
}

.game-icon {
  height: auto;
  width: 100%;

}

.game-name {
  padding: 10px;
  color: white;
}

.main-user {
  display: flex;
}
.main-user-info {
  display: flex;
  justify-content: space-between;
}

.main-user-container {
  display: flex;
  padding: 5px;
}

.main-user-profile {
  border-radius: 50%;
  width: 40px;
  align-self: center;
  padding: 10px;
}

.main-user-name {
  align-self: center;
  color: rgb(170, 168, 168);
  font-size: 1.5em;
  font-weight: 600;
  padding: 10px;
}

.main-user-name:hover {
  color: white;
  cursor: pointer;
}

.left-subcontainer {
  display: flex;
  background: #0f0f0f;
  border-radius: 15px;
}

.left-options-container {
  display: flex;
  flex-direction: column;
  
}

.left-option {
  padding: 20px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.6em;
}


.settings {
  color: rgba(255,255,255,0.7);
  align-self: center;
  padding: 0px 10px;
}

.block-container {
  width: 100%;
  position: fixed;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
}

.create-container {
  padding: 20px;
  background-color: #688D6F;
  display: flex;
  justify-content: center;
  width: 25%;
  left: 0;
  right: 0;
  top: 25%;
  margin: auto;
  position: absolute;
}

.board-top-container {
  display: flex;
  flex: 5;
  height: 100%;
  margin: 0px 10px;
  border-radius: 15px;
  position: relative;
}