body {
  background: #121212;
  height: 100%;
  
  margin: 0;
}

body > * {
  margin: 0 10px;
}

.board-container {
  display: flex;
}

.board {
  background: #212121;
  border-collapse: collapse;
  table-layout: fixed;
  flex: 2;
  height: 100%;
  margin: 0px 10px;
  border-radius: 15px;
}


.board colgroup, .board tbody {
  border: solid medium;
}

tr {
  border: black solid thin;
  height: 1.5em;
  width: 1.4em;
  text-align: center;
  padding: 0;
  color: white;
  font-size: 1.8em;
  font-weight: 600;
}

td {
  border: black solid thin;
  height: 1.5em;
  width: 1.4em;
  text-align: center;
  padding: 0;
  color: white;
  font-size: 1.8em;
  font-weight: 600;
}
.start-number {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
}
td:hover {
  cursor: pointer;
}

.highlighted-adjacent {
  background-color: #5a4135;
}

.highlighted-square {
  background-color: #caa08d;
}

.base-number {
  color: #eb6123;
}
