@import './variables.scss';

.create-container {
    background-color: $green-box;
    width: 40%;
    left: 0;
    right: 0;
    top: 5%;
    margin: auto;
    position: absolute;
    color: $form-color;
    z-index: 1;

    @media screen and (max-width: $small) {
        width: 100%;
    }
}

.create-form {
    display: flex;
    flex-direction: column;
}

.create-form-header {
    border-bottom: $form-header-border;
    text-align: center;
}

.create-form-center {
    text-align: center;
    margin-top: 10px;
}

.create-form-column {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


.create-form input[type=range] {
    width: 80%;
    margin: 0 auto;
}

.create-form label {
    margin: 0px 10px 10px 0px;
}

.create-form-submit {
    border-radius: $border-radius;
    background-color: $form-input-background;
    width: 90%;
    margin: 20px auto;
    height: 40px;
    font-size: 1.2em;
    font-weight: 600;
    box-shadow: 0 0 2px 0px rgb(3, 3, 3);
}