@import "./variables.scss";

.sidebar-container {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $small) {
    display: none;
  }
}

.left-subcontainer {
  display: flex;
  background: $surface-primary;
  border-radius: $border-radius;
}

.left-options-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: inherit;
}

.left-option {
  padding: 20px;
  color: $text-primary;
  font-size: 1.6em;
}

.left-option-icon {
  color: $icon-colour;
}

.left-option:hover {
  background: #212121;
  cursor: pointer;
  border-radius: inherit;
}

.word-icon {
  display: flex;
  justify-content: space-between;
}
