$small: 375px;

$background: rgba(18, 18, 18, 0.95);
$icon-colour: #A8BD92;
$yellow-colour: #cdce89;
$green-box: #2C352E;

$form-header-border: 1px solid #3E4C41;

$box-shadow: 0px 0px 10px 0.2px black;

$surface-primary: rgba(15, 15, 15, 0.7);
$surface-solid: rgba(25, 25, 25, 1);

$board: #303030;
$board-border: #B7B7B7;
$board-base-index: #A8BD92;
$board-number: #FFFFFF;
$board-highlight: #3F493E;
$board-secondary-highlight: #4B514C;

$cancel-red: #a33636;
$cancel-red-hover: #b55151;

$light-mode-board: #0e0f0f;
$light-mode-highlight: #DDE6EE;

$border-radius: 3px;

/* Text Colors */
$form-color: #cacaca;
$primary-color: #FFFF;
$text-primary: rgba(255, 255, 255, 0.7);

/*Inputs*/
$form-input-background: #C0D3C3;

/* Buttons */
$submit: #CAA472;
$control-buttons: $submit;
$control-buttons-on: #b9cfa1;