@import './variables.scss';

.waiting-container {
    margin: auto;
    width: 80%;

    @media (min-width: $small) {
        width: 100%;
        margin: 0;
    }
}

.waiting-subcontainer {
    margin: auto;
    width: 50%;

    @media (min-width: $small) {
        width: 100%;
    }
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.invite-input {
    width: 100%;
    font-size: 1.1em;
}

.waiting-header {
    display: flex;
    align-items: center;
}

.waiting-header > * {
    margin-right: 10px;
}

.waiting-player-count {
    color: $icon-colour;
}

.waiting-options {
    list-style: circle;
    color: $icon-colour;
    padding: 0px 15px;
    font-style: italic;
}
